@model  AdminProduct.Models.Product

<h2>CreateProduct</h2>
<form method="post" enctype="multipart/form-data" action="/Admin/CreateProduct">
    <label>Name:</label>
    <input type="text" name="Name" required />
    <br />
    <label>Amount:</label>
    <input type="number" step="0.01" name="Amount" required />
    <br />
    <label>Description:</label>
    <textarea name="Description"></textarea>
    <br />
    <label>Image:</label>
    <input type="file" name="Image" />
    <br />
    <button type="submit">Create Product</button>
</form>
