@model AdminProduct.Models.AdminLoginModel

<h2>Admin Login</h2>
<form method="post" action="/Admin/Login">
    <label>@ViewBag.Error</label><br />
    <label>Username:</label>
    <input type="text" name="Username" required />
    <br />
    <label>Password:</label>
    <input type="password" name="Password" required />
    <br />
    <button type="submit">Login</button>
</form>

